.popup__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  box-sizing: border-box;
}