.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 47px;
}

@media screen and (max-width: 690px) {
  .profile {
    padding-top: 38px;
    padding-bottom: 38px;
    flex-direction: column;
  }
} ;
