.places__like-btn {
    cursor: pointer;
    width: 22px;
    height: 19px;
    background-color: inherit;
    background-image: url('../../../images/like-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.places__like-btn:hover {
    transform: scale(1.1);
}