.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  max-width: 100%;
}

@media screen and (max-width: 690px) {
  .profile__info {
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    margin-bottom: 30px;
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin-left: 28px;
    grid-row-gap: 10px;
  }
}
