.profile__edit-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-color: inherit;
    background-image: url("../../../images/edit-btn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: end;
    border: none;
}
